<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="QueryDao">

	<!-- 제품상세페이지에 querySeq 순으로 제품문의 나열 -->
	<select id="querySelectAll" resultType="QueryVo">
		select * from QUERY order by QUERYSEQ
	</select>
	
	<!-- 고객이 로그인 상태일 때 제품문의 나열 -->
	<select id="querySelectById" parameterType="String" resultType="QueryVo">
		select * from QUERY where CUSID=#{cusId} order by QUERYSEQ
	</select>

	<select id="querySelectOne" parameterType="int" resultType="QueryVo">
		select * from QUERY where QUERYSEQ=#{querySeq}
	</select>
	
	<insert id="queryInsert" parameterType="QueryVo">
		insert into QUERY (queryseq, open, prodid, cusid, title, content, reply)
		values(queryseq.nextval, #{open}, #{prodId}, #{cusId}, #{title}, #{content}, null)
	</insert>
	
	<update id="queryUpdate" parameterType="QueryVo">
		update QUERY set OPEN=#{open}, TITLE=#{title}, CONTENT=#{content}
		where QUERYSEQ=#{querySeq}
	</update>
	
	<delete id="queryDelete" parameterType="int">
		delete from QUERY where QUERYSEQ=#{querySeq}
	</delete>
	
</mapper>